@model IEnumerable<SOEDU.Models.ListCourseModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Partial/_Layout.cshtml";
}
<style>
    .cf_title .ico_star {
        position: relative;
        top: 4px;
    }

    .ico_star {
        font-size: 16px;
        position: relative;
        display: inline-block;
        letter-spacing: 3px;
    }

        .ico_star:before {
            content: "\f006 \f006 \f006 \f006 \f006";
            color: #D6D6D6;
        }

    .ico_star_value {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        white-space: nowrap;
    }

        .ico_star_value:before {
            content: "\f006 \f006 \f006 \f006 \f006";
            color: #F1CD2F;
        }

    #owl-demo .item {
        margin: 3px;
    }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }
</style>


<div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="list-course">
                <div class="list-course-girds">
                    <div class="polet-title">
                        <h3>
                            <span>KHÓA HỌC NỔI BẬT<i class="fa fa-angle-right"></i></span>
                            <!--<span class="float-right hidden-xs">Xắp Xếp Theo</span>-->
                        </h3>
                    </div>
                    <div id="featured-course" class="polet-content owl-container">

                        <data-owl-carousel class="data-owl-carousel" data-owl-carousel="">
                            <div owl-carousel-item="" ng-repeat="course in ::Course" class="item">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                    <div class="item-inner">
                                        <div class="item-course-img">
                                            <div class="item-course-icon">
                                                <div class="new-icon"></div>
                                            </div>
                                            <a href="#">
                                                <img src="{{course.Avatar}}" />
                                            </a>
                                        </div>
                                        <div class="item-course-info">
                                            <a href="#">
                                                <span class="item-course-info-name">{{course.Course_Name}}</span>
                                            </a>

                                            <div class="item-course-info-rating">
                                                <div class="review-count text">
                                                    <b>{{course.CountTarget | number}}</b> đánh giá
                                                </div>
                                                <span class="ico_star">
                                                    <span class="ico_star_value" style="width:{{(((course.IsStar1+course.IsStar2+course.IsStar3+course.IsStar4+course.IsStar5)/((course.CountTarget!=0?course.CountTarget:1)*5))*100) + '%'; }}">
                                                    </span>
                                                </span>

                                            </div>
                                            <div class="item-course-info-teacher">
                                                <div class="item-course-info-teacher-ava">
                                                    <img src="{{course.IsFoto}}" />

                                                    <div class="item-course-info-teacher-name">
                                                        {{course.IsName}}
                                                    </div>
                                                    <div class="item-course-info-teacher-details">
                                                        Đồng sáng lập DeltaViet Education Corporation
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-course-info-price">
                                                <span class="promo-price">{{course.IsPrice | number}}đ</span>
                                                <span class="item-course-info-cf-price">300.000đ</span>
                                                <span class="float-right hidden-sm hidden-xs">
                                                    {{course.CountStudent | number}}&nbsp;
                                                    <span class="fa fa-user float-right"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </data-owl-carousel>
                     
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="list-course">
                <div class="list-course-girds">
                    <div class="polet-title">
                        <h3>
                            <span>KHÓA HỌC NỔI BẬT<i class="fa fa-angle-right"></i></span>
                            <!--<span class="float-right hidden-xs">Xắp Xếp Theo</span>-->
                        </h3>
                    </div>
                    <div id="featured-course" class="polet-content owl-container">
                        <div class="owl">
                            <!--<span class="float-right hidden-xs">Xắp Xếp Theo</span>-->
                            @foreach(var item in Model)
                            {
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="@item.Avatar" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">@item.Course_Name</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="@item.IsFoto" />

                                                <div class="item-course-info-teacher-name">
                                                    @item.IsName
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="list-course">
                <div class="list-course-girds">
                    <div class="polet-title">
                        <h3>
                            <span>KHÓA HỌC NỔI BẬT<i class="fa fa-angle-right"></i></span>
                            <!--<span class="float-right hidden-xs">Xắp Xếp Theo</span>-->
                        </h3>
                    </div>
                    <div id="featured-course" class="polet-content owl-container">
                        <div class="owl">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-course padding-bottom-xs-10">
                                <div class="item-inner">
                                    <div class="item-course-img">
                                        <div class="item-course-icon">
                                            <div class="new-icon"></div>
                                        </div>
                                        <a href="#">
                                            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
                                        </a>
                                    </div>
                                    <div class="item-course-info">
                                        <a href="#">
                                            <span class="item-course-info-name">Ôn thi 10 chuyên Sinh - Nắm vững từ lý thuyết đến bài tập cùng chuyên Khoa Học Tự Nhiên</span>
                                        </a>
                                        <div class="item-course-info-rating">
                                            <div class="rate-box">
                                                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="item-course-info-teacher">
                                            <div class="item-course-info-teacher-ava">
                                                <img src="~/Content/Img/ava_nguyen_minh.jpg" />

                                                <div class="item-course-info-teacher-name">
                                                    Trần Hoàng Nam
                                                </div>
                                                <div class="item-course-info-teacher-details">
                                                    Đồng sáng lập DeltaViet Education Corporation
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-course-info-price">
                                            <span class="promo-price">250.000đ</span>
                                            <span class="item-course-info-cf-price">300.000đ</span>
                                            <span class="float-right hidden-sm hidden-xs">
                                                1.382&nbsp;
                                                <span class="fa fa-user float-right"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="/Content/js/owl.carousel.min.js"></script>