@model SOEDU.Models.CourseModel
<div id="sidebar-left">

    <div id="menu" class="white menu height100 notebook-menu scope" tabindex="26" style="overflow: hidden; outline: none;">
        <div class="divider-bar-menu"></div>
        <ul class="main-left-menu">
            <li id="step2">
                <a href="/@Model.Course_ID/cai-dat-khoa-hoc">
                    <i class="pz-i-update"></i>
                    Updates
                </a>
            </li>
            <li id="step3">
                <a href="/@Model.Course_ID/cai-dat-noi-dung"><i class="fa fa-save"></i> Files</a>
            </li>

            <li id="step4">
                <a href="javascript:void(0)">
                    <i class="fa fa-lightbulb-o"></i>
                    Ideas
                </a>
            </li>

            <li id="step5">
                <a href="javascript:void(0)">
                    <i class="fa fa-sticky-note"></i>
                    Papers
                </a>
            </li>

            <li id="step8">
                <a href="javascript:void(0)">
                    <i class="fa fa-bullhorn"></i>
                    Polls
                </a>
            </li>
            <li id="step9" class="scope">
                <a href="javascript:void(0)">
                    <i class="fa fa-joomla"></i>
                    Spaces
                </a>
            </li>

            <li id="step10">
                <a href="javascript:void(0)">
                    <i class="fa fa-pencil-square-o"></i>
                    Drafts
                </a>
            </li>
            <li id="step11">
                <a href="javascript:void(0)">
                    <i class="fa fa-users"></i>
                    Followers
                </a>
            </li>
            <li id="step12">
                <a href="javascript:void(0)">
                    <i class="fa fa-group"></i>
                    Groups
                </a>
            </li>
            <li><a href="javascript:void(0)" class="no-border"></a></li>
        </ul>
    </div>

    <div id="ascrail2026" class="nicescroll-rails nicescroll-rails-vr" style="width: 8px; z-index: 1000; cursor: default; position: absolute; top: 66px; left: 210px; height: 256px; display: block; opacity: 1; background: rgb(241, 241, 239);"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 6px; height: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(215, 215, 213); background-clip: paddibox;"></div></div><div id="ascrail2026-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 8px; z-index: 1000; top: 314px; left: 0px; position: absolute; cursor: default; display: none; opacity: 1; width: 210px; background: rgb(241, 241, 239);"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 6px; width: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; left: 0px; background-color: rgb(215, 215, 213); background-clip: paddibox;"></div></div>
</div>