<div class="col-lg-3 col-md-3 col-sm-4 nopadding-left nopadding-sm margin-top-10-sm">
    <div class="portlet-hot-news">
        <div class="portlet-hot-news-title text-center">
            <h3 href="#">
                <i class="fa fa-newspaper-o"></i> Thông tin mới nhất
            </h3>
        </div>
        <div class="portlet-hot-news-content text-justify ">
            <ul class="items-hotnews">
                <li>
                    <a class="thumb" href="#">
                        <img src="~/Content/Img/20160422100103-571993ef96aae.jpg" />
                    </a>
                    <a class="title" href="#" title="THI CHUYỂN CẤP - CƠ HỘI VÀ THỬ THÁCH ">
                        Như mọi năm, đây luôn là thời gian chạy nước rút không c
                    </a>
                </li>
                <li>
                    <a class="thumb" href="#">
                        <img src="~/Content/Img/20160422100103-571993ef96aae.jpg" />
                    </a>
                    <a class="title" href="#" title="THI CHUYỂN CẤP - CƠ HỘI VÀ THỬ THÁCH ">
                        Như mọi năm, đây luôn là thời gian chạy nước rút không chỉ của các bạn học sinh lớp 12 chuẩn bị bước vào kì thi quan trọng nhất của đời mình mà cònaaaaaaaaaaaaaaaaaaaaa
                    </a>
                </li>
                <li>
                    <a class="thumb" href="#">
                        <img src="~/Content/Img/20160422100103-571993ef96aae.jpg" />
                    </a>
                    <a class="title" href="#" title="THI CHUYỂN CẤP - CƠ HỘI VÀ THỬ THÁCH ">
                        Như mọi năm, đây luôn là thời gian chạy nước rút không chỉ của các bạn học sinh lớp 12 chuẩn bị bước vào kì thi quan trọng nhất của đời mình mà còn...
                    </a>
                </li>
                <li>
                    <a class="thumb" href="#">
                        <img src="~/Content/Img/20160422100103-571993ef96aae.jpg" />
                    </a>
                    <a class="title" href="#" title="THI CHUYỂN CẤP - CƠ HỘI VÀ THỬ THÁCH ">
                        Như mọi năm, đây luôn là thời gian chạy nước rút không chỉ của các bạn học sinh lớp 12 chuẩn bị bước vào kì thi quan trọng nhất của đời mình mà còn...
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
